/**
 * style.css
 *
 *
 * let's sets also the box-sizing property to border-box for all elements.
 *
 */

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* styling elements of the lists of the docuement */
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    margin-top: 50px;
}

.space {
    margin-top: 150px;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 8px;
}