/**
 * style.css
 *
 *
 * let's sets also the box-sizing property to border-box for all elements.
 *
 */

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.space{
    margin-top: 100px;
}